<p-toolbar [formGroup]="reservaFormulario" (ngSubmit)="agregarHabitacion()" class="p-grid p-jc-center">
<div class="p-col-6 p-md-6 p-lg-2">
    <div >
        <label class="texto" for="spanish">Entrada</label>
        <p-calendar  [locale]="es" dateFormat="dd/mm/yy" inputId="spanish1" formControlName="entrada"></p-calendar>
    </div>
</div>
<div class="p-col-6 p-md-6 p-lg-2">
    <div>
        <label class="texto" for="spanish">Salida</label>
        <p-calendar [locale]="es" dateFormat="dd/mm/yy" inputId="spanish2" formControlName="salida"></p-calendar>
    </div>
</div>
<div class="p-col-6 p-md-6 p-lg-2">
    <label class="texto" for="spanish">Ocupacion</label>
    <p-dropdown [options]="habitaciones"  placeholder="Seleccionar habitacion" formControlName="habitacion" optionLabel="name" [showClear]="true"></p-dropdown>
</div>

<div class="p-col-6 p-md-6 p-lg-2">
    <h3 class="texto">PROMOCODE</h3>
</div>

<div class="p-col-6 p-md-6 p-lg-2">
    <button (click)= "agregarHabitacion()" type="submit" pButton pRipple type="button" label="RESERVAR" class="p-button-rounded p-button-warning"></button>
</div>
</p-toolbar>

<p-table class="tabla" *ngFor="let reserva of reservas">
    <ng-template pTemplate="header">
        <tr>
            <th>entrada</th>
            <th>salida</th>
            <th>ocupacion</th>
        </tr>
        <tr>
            <td>{{reserva.entrada.seconds * 1000 | date:'MM-dd-yyyy'}}</td>
            <td>{{reserva.salida.seconds * 1000 | date:'MM-dd-yyyy'}}</td>
            <td>{{reserva.habitacion}}</td>
        </tr>
    </ng-template>
</p-table>